@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Josefin+Sans&display=swap');


body{
    background-color: black;
    color: blueviolet;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Delicious Handrawn', sans-serif;
    background-color: rgb(10, 10, 10);
}
 
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    
    
}
nav ul li{
    padding: 0 8px ;
    cursor: pointer;
    
}

.brand img{
    width: 109px ;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}

.container{
    min-height: 60vh;
    font-family:'Josefin Sans',sans-serif; 
    background-color: rgb(10, 10, 10);
    color:  rgb(242, 236, 236);
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 30px;
    background-image: url('wallpaperflare.com_wallpaper.jpg');


}
.bottom{
    position: sticky;
    height: 70px;
    background-color: rgb(10, 10, 10);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin-top: 5px;
}
.icons i{
    cursor: pointer;
}


#myProgressBar{
    width: 80vw;
    cursor: pointer;

}


.artistItem{
    height: 50px;
    display: flex;
    background-color: rgb(4, 4, 4);
    color: rgb(238, 236, 240);
    width:100%;
    margin: 50px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 43px;

}

.artistOpen{
    margin: 0 23px;
    cursor: pointer;
}
.artistItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 34px;
}

.songInfo{
    position: absolute;
    left: 9.5vw;
    font-family: 'Delicious Handrawn', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}